* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
}
.box-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/img/b1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.box-container .box {
  width: 700px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px #ccc;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
.box-container .box .img {
  padding: 60px;
  margin-right: 40px;
  border-radius: 0 50px 50px 0;
  /* backdrop-filter: blur(1px); */
  background: rgba(255, 255, 255, 0.1);
  height: 270px;
}
.box-container .box .img img {
  height: 150px;
  width: 150px;
  border-radius: 0 40px 0 40px;
  box-shadow: 0 0 0 10px rgba(230, 193, 222, 0.2);
}

.box-container .box .content .title {
  color: #fff;
  padding: 5px 0;
  font-size: 34px;
  text-transform: capitalize;
}
.box-container .box .content .post {
  display: block;
  font-size: 20px;
  color: #ccc;
  margin-bottom: 30px;
}
.box-container .box .content a {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  text-transform: capitalize;
  font-size: 24px;
  margin-top: 8px;
  color: rgb(199, 184, 199);
}
.box-container .box .content a:hover {
     color: rgb(250, 135, 250);
}
.box-container .box .content .fa {
  margin-right: 22px;
  color: rgb(223, 215, 223);
}

/* share */
.box-container .box .share {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: violet;
  border-radius: 50px;
  height: 220px;
  width: 45px;
}
.box-container .box .share a {
  margin: 15px;
  color: #fff;
  font-size: 24px;
}

.box-container .box .share a:hover {
  color: rgb(179, 33, 123);
}
@media (max-width: 812px) {
  body{
      transform: translateY(-10%)
}
  .box-container .box {
    display: flex;
    flex-flow: column;
    padding-bottom: 100px;
    margin: 20px;
    width: 330px;
  }
  .box-container .box .img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    border-radius: 0 0 50px 50px;
    text-align: center;
  }
  .box-container .box .share {
    left: 50%;
    top: 86%;
    transform: translate(-50%, 0);
    height: 45px;
    width: 240px;
    flex-flow: row;
  }
}
/* @media (min-width: 813px) (max-width: 1400px) {
  .box-container {
    width: 500px;
    height: 100vh;
  }
} */
